# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a temporary location
#  named after the script file. Round-robin usage of a single location
#  helps to keep a repository clean of build artifacts.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
.pybuilder/
target/

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/frenzybeauty/python-pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

#  JetBrains specific template is maintained in a separate file from Python
.idea/
*.iml

# VS Code
.vscode/

# Project Specific
logs.txt
logs/
output/
storage/
files/*.webm
files/*.mp3
files/*.wav

# Database
*.db
api.db

# OS Specific
.DS_Store
